@import './variables';
@import './mixins';

.type-page {
  padding: 20px;
  background-color: #fff; // Set the main background to white
  @include flex-center;
  flex-direction: column;

  .type-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .type-icon {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    h1 {
      font-size: 2em;
    }
  }

  .type-pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
   
  }

  .type-pokemon-card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;

    &.normal { background-color: $color-normal; }
    &.fighting { background-color: $color-fighting; }
    &.flying { background-color: $color-flying; }
    &.poison { background-color: $color-poison; }
    &.ground { background-color: $color-ground; }
    &.rock { background-color: $color-rock; }
    &.bug { background-color: $color-bug; }
    &.ghost { background-color: $color-ghost; }
    &.steel { background-color: $color-steel; }
    &.fire { background-color: $color-fire; }
    &.water { background-color: $color-water; }
    &.grass { background-color: $color-grass; }
    &.electric { background-color: $color-electric; }
    &.psychic { background-color: $color-psychic; }
    &.ice { background-color: $color-ice; }
    &.dragon { background-color: $color-dragon; }
    &.dark { background-color: $color-dark; }
    &.fairy { background-color: $color-fairy; }

    img {
      width: 100px;
      height: 100px;
    }

    p {
      margin: 5px 0;
      @include text-style(#333, bold);
    }
  }
}